/bookenv
db.sqlite3
/media
/static
/aapbookstore/settigs.py
/aapbookstore/settings_dev.py
/venv
/aapbookstore/settigs.py
/bookstore/migrations
/bookstore/__pycache__

# added in main branch by rupa
# Added some lines by rupa in git ignore


# did some changes in main by joy