/bookenv
db.sqlite3
/media
/static
/aapbookstore/settigs.py
/aapbookstore/settings_dev.py
bookstore\views\__pycache__
aapbookstore\__pycache__
bookstore\templatetags\__pycache__
/venv
/aapbookstore/settigs.py
/bookstore/migrations
/bookstore/send_tele.py
/bookstore/__pycache__
aapbookstore\__pycache__
aapbookstore/__pycache__/
bookstore/locations/__pycache__/
bookstore/templatetags/__pycache__/
bookstore/views/__pycache__/
bookstore\send_tele.py
# added in main branch by rupa
# Added some lines by rupa in git ignore


# did some changes in main by joy