<!-- header section starts  -->
{% load cart_sub_total %}
<header class="header">

    <div class="header-1">

        <a href="/" class="logo"> 
            {% if web_settings.web_logo %}
            <img src="{{web_settings.web_logo.url}}" width="150px" class="img-fluid" alt="AAPLIBRARY">

            {% else %}
            <i class="fas fa-book"></i> AAPLIBRARY 

            {% endif %}
        </a>

        <form action="" class="search-form">
            <input type="search" name="" placeholder="search here..." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>

        <div class="icons d-flex align-items-center">
            <div id="search-btn" class="fas fa-search"></div>
            <!-- <a href="#" class="fas fa-heart"></a> -->
            <a href="{% url 'cart' %}" class="fas fa-shopping-cart">
                <span class="total-items">{% total_cart_item request.user %}</span>
            </a>

            {% if request.user.is_authenticated %}
            <div class="fas fa-user dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">


            </div>
            <ul class="dropdown-menu header-user-navigation" aria-labelledby="navbarDropdown">

                <li><a class="dropdown-item ms-0" href="{% url 'profile' %}">My Account</a></li>
              
                <li><a class="dropdown-item ms-0" href="{% url 'logout' %}">Logout</a></li>





            </ul>

            {% else %}
            <a href="{% url 'login' %}">
                <div class="fas fa-user">
                </div>
            </a>

            <a href="{% url 'register' %}" class="badge bg-primary header-buttons text-light">
                Sign Up

            </a>


            {% endif %}

        </div>

    </div>

    <div class="header-2">

        <nav class="navbar">
            {% if categories %}
            {% for category in categories %}
            <a onClick="openLoader()" href="/?cat_id={{category.id}}">{{category.name}}</a>
            {%endfor%}
            {% endif %}
        </nav>
    </div>

</header>


<!-- header section ends -->

<!-- bottom navbar  -->
<!-- 
<nav class="bottom-navbar">
    <a href="#home" class="fas fa-home"></a>
    <a href="#featured" class="fas fa-list"></a>
    <a href="#arrivals" class="fas fa-tags"></a>
    <a href="#reviews" class="fas fa-comments"></a>
    <a href="#blogs" class="fas fa-blog"></a>
</nav> -->