{% extends "bookstore/base.html" %}
{%load static%}
{% load crispy_forms_tags %}
{% load cart_sub_total %}



{% if title %}
{%block title%}
{{title}}
{%endblock title%}
{% endif %}

{%block style%}

<style>
    .form-group {
        font-size: 1.8rem;
        margin-bottom: 10px;

    }

    select,
    input {
        font-size: 1.8rem !important;
    }

    .list-group {

        font-size: 1.5rem;
    }

    .input {
        font-size: 1.5rem;
        display: flex;
        justify-content: space-evenly;
        margin: 1.5rem 0;
    }

    .payment-method-input p {
        font-size: 1.8rem;
        margin-bottom: 0;
    }

    .payment-instruction {
        font-size: 1.2rem;
    }

    .address_loader {
        margin-bottom: 2em;
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .address_loader button {
        font-size: 1.5rem;
        background-color: #002060;
        color: white;
        padding: .5em;
        border: 2px solid #7c92b9;


    }

    .address_loader i {
        color: #1e95ad;
        font-size: 3rem;
        margin-left: 1em;
    }

    .address_loader i:hover {
        cursor: pointer;
    }

    .shipping-underline {
        width: 100%;
        height: 3px;
        background-color: black;
        margin-bottom: 1em;
    }

    .delivery-methods-inputs {
        border: 1px solid black;
        border-radius: 10px;
        padding: 1em;
        font-size: 1.5rem;
        margin-bottom: 1em;

    }

    .delivery-methods-inputs p {
        text-align: center;
    }

    .delivery-methods-inputs label {
        padding: 0.1em;
    }

    .office-info {
        display: none;
        
    }

    .free-exh {
        font-size: 1.5rem;
        display: none;
    }

    .modal {
        font-size: large;
    }

    .modal-body {
        display: flex;
        justify-content: center;
    }

    .loc-span {
        cursor: pointer;
    }
</style>
{%endblock style%}


{% block content %}

<div class="cart-page">
    <h3 class="text-center page-title">Checkout</h3>

    <div class="cart-container container">
        <a href="{% url 'cart' %}" class="btn btn-outline-secondary bg-dark btn-sm text-light">Back To Cart</a>
        <div class="row justify-content-center m-auto">

            <div id="cartList" class="col-md-4">
                <div class="cart-items">
                    <ol class="list-group list-group-numbered">
                        {% for item in usercart %}
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">{{item.book.title}}</div>
                                <span id="price-span">{{item.quantity}} × Tk. {{item.price}}</span>
                            </div>
                            <span class="badge bg-primary rounded-pill">
                                Tk. {{item.total_amount}}
                            </span>
                        </li>
                        {%endfor%}

                    </ol>
                    <ul class="list-group list-group">

                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <h5 class="fw-bold">Shipping Charge</h5>

                            </div>
                            {% if exh_cart or free_delivery %}
                            <span class="badge bg-warning rounded-pill shipping_span">
                                Tk. 0
                            </span>
                            {% else %}
                            <span class="badge bg-warning rounded-pill shipping_span">
                                Tk. {% get_shipping_charge %}
                            </span>
                            {% endif %}

                        </li>


                    </ul>
                    <ul class="list-group list-group">

                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <h2 class="fw-bold">SubTotal</h2>

                            </div>
                            {% if exh_cart %}
                            <span class="badge bg-danger rounded-pill sub_total_span">
                                Tk. 0
                            </span>
                            {% elif free_delivery %}
                            <span class="badge bg-danger rounded-pill sub_total_span">
                                Tk. {% cart_sub_total_free usercart %}
                            </span>
                            {% else %}
                            <span class="badge bg-danger rounded-pill sub_total_span">
                                Tk. {% cart_sub_total usercart %}
                            </span>
                            {% endif %}
                        </li>


                    </ul>


                </div>

                <div class="payment-method-input delivery-methods-inputs ">
                    <p>Select Any Delivery Method</p>
                    <hr>
                    <div class="form-check">
                        <input class="form-check-input delivery-methods" type="radio" name="delivery_method"
                            id="sundarban" value="sundarban" checked>
                        <label class="form-check-label" for="sundarban">কুরিয়ার অফিস থেকে সংগ্রহ করব(সারাদেশ,{% if free_delivery or exh_cart %} 0 {% else %} {{web_settings.shipping_charge}} {% endif %}৳)</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input delivery-methods" type="radio" name="delivery_method"
                            id="home-delivery" value="home-delivery">
                        <label class="form-check-label" for="home-delivery">Home Delivery(Inside Dhaka,{% if free_delivery or exh_cart %} {% deduct_delivery web_settings.home_delivery_dhaka  %} {% else %} {{web_settings.home_delivery_dhaka}}{% endif %}৳)</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input delivery-methods" type="radio" name="delivery_method"
                            id="home-outside" value="home-outside">
                        <label class="form-check-label" for="home-outside">Home Delivery(Outside Dhaka,{% if free_delivery or exh_cart %} {% deduct_delivery web_settings.home_delivery_outside  %} {% else %} {{web_settings.home_delivery_outside}}{% endif %}৳)</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input delivery-methods" type="radio" name="delivery_method" id="1-3h"
                            value="1-3h">
                        <label class="form-check-label" for="1-3h">1-3H Super Fast Home Delivery(Inside Dhaka,{% if free_delivery or exh_cart %} {% deduct_delivery web_settings.home_delivery_1_3H  %} {% else %} {{web_settings.home_delivery_1_3H}}{% endif %}৳)</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input delivery-methods" type="radio" name="delivery_method" id="12h"
                            value="12h">
                        <label class="form-check-label" for="12h">12H Fastest Home Delivery (Inside Dhaka,{% if free_delivery or exh_cart %} {% deduct_delivery web_settings.home_delivery_12H  %} {% else %} {{web_settings.home_delivery_12H}}{% endif %}৳)</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input delivery-methods" type="radio" name="delivery_method"
                            id="office-radio" value="office-radio">
                        <label class="form-check-label" for="office-radio">সরাসরি গিয়ে সংগ্রহ করব(ফার্মগেট/­এলিফ্যান্ট রোড, 0 ৳)</label>
                    </div>
                </div>



            </div>


            <div id="cartList" class="col-md-8">
                <form method="POST" id="address_form">

                    {% csrf_token %}
                    <input type="hidden" name="shipping_method" value="কুরিয়ার অফিস থেকে সংগ্রহ করব(সারাদেশ, 50 ৳)">
                    {% if exh_cart %}
                    <input type="hidden" name="total_amount" value="0">
                    {% elif free_delivery %}
                    <input type="hidden" name="total_amount" value="{% cart_sub_total_free usercart %}">
                    {% else %}
                    <input type="hidden" name="total_amount" value="{% cart_sub_total usercart %}">
                    {% endif %}
                    <div class="row cart-items">
                        <div class="col-md-6">
                            <h3 class="text-center page-title">Delivery Address</h3>
                            <div class="shipping-underline"></div>
                            <div class="address_loader">
                                <button type="button" id="load_default">Use Saved Address</button>
                                <i class="fas fa-undo" title="Click here to reset address" id="reset_default"></i>
                            </div>
                            <div class="office-info payment-method-input delivery-methods-inputs ">
                                <div class="form-check">
                                    <input class="form-check-input delivery-methods" type="radio" name="delivery_method"
                                        id="office-farm" value="office-farm">
                                    <label class="form-check-label" for="office-farm">ফার্মগেট অফিস=আনন্দ সিনেমা হলের অপজিটে, 101/A Green Road Dhaka,Aspect Series Office<span data-bs-toggle="modal" data-bs-target="#locationModal" class="badge bg-dark text-light loc-span">ভিডিওতে লোকেশন দেখুন</span></label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input delivery-methods" type="radio" name="delivery_method"
                                        id="office-el" value="office-el">
                                    <label class="form-check-label" for="office-el">এলিফ্যান্ট রোড অফিস=ইস্টার্ন মল্লিকার বিপরীতে, স্যানস্‌ ক্যাপের পাশের অফিস<span data-bs-toggle="modal" data-bs-target="#locationModal2" class="badge bg-dark text-light loc-span">ভিডিওতে লোকেশন দেখুন</span></label>
                                </div>
                            </div>
                            {{ addressForm|crispy }}
                        </div>

                        <div class="col-md-6">
                            <h3 class="text-center page-title">Payment Details</h3>
                            {% if free_delivery %}
                            <div class="payment-instruction alert alert-info">{{web_settings.payment_instruction|safe}}
                                <i class="fa fa-paper-plane" aria-hidden="true"></i><span
                                    style="font-weight: bold; font-size: 1.3rem;">তোমাকে মোট সেন্ড মানি করতে হবে -
                                    <span class="user_total_span">{% cart_sub_total_free usercart %}</span>TK.</span>
                            </div>
                            {% elif not exh_cart %}
                            <div class="payment-instruction alert alert-info">{{web_settings.payment_instruction|safe}}
                                <i class="fa fa-paper-plane" aria-hidden="true"></i> <span
                                    style="font-weight: bold; font-size: 1.3rem;">তোমাকে মোট সেন্ড মানি করতে হবে -
                                    <span class="user_total_span">{% cart_sub_total usercart %}</span>TK.</span>
                            </div>
                            {% endif %}





                            <div class="payment-method-input">
                                {% if not exh_cart %}
                                <p>Select Any Payment Method</p>
                                {% endif %}
                                <div class="input">
                                    {% if exh_cart %}
                                    <div class="form-check form-check-inline">

                                        <input class="form-check-input" type="radio" name="payment_method" id="Exchange"
                                            value="Exchange" checked>
                                        <label class="form-check-label" for="Exchange">Paying With Exchange
                                            Credit</label>
                                    </div>

                                    
                                    {% else %}
                                    <div class="form-check form-check-inline">

                                        <input class="form-check-input" type="radio" name="payment_method" id="bKash"
                                            value="bKash" checked>
                                        <label class="form-check-label" for="bKash">bKash</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="payment_method" id="Nagad"
                                            value="Nagad">
                                        <label class="form-check-label" for="Nagad">Nagad</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="payment_method" id="Rocket"
                                            value="Rocket">
                                        <label class="form-check-label" for="Rocket">Rocket</label>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            {% if exh_cart %}
                            <div class="payment-instruction alert alert-info free-exh">
                                তুমি যেহেতু অন্য ডেলিভারি মেথড চুজ করেছো সেহেতু তোমাকে অতিরিক্ত টাকা সেন্ড মানি করতে হবে। অর্ডার কনফার্ম করতে <span style="font-weight: bold;" class="user_total_span text-bold"></span>৳ , <span style="font-weight: bolder;">01610427497</span> এই নাম্বারে সেন্ড মানি করবে।
                            </div>
                            {% endif %}

                            <div {% if exh_cart %} style="display: none;" {% endif %}>
                                {{paymentForm |crispy }}
                            </div>

                            <input type="submit" class="form-control btn btn-primary" value="Confirm Order">

                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>

    {% include 'bookstore/partials/loader.html' %}
    <div class="modal fade" id="locationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ফার্মগেট অফিস</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe width="100%" height="550" src="https://www.youtube.com/embed/ZnpDmJhgKko" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="modal-footer mdl-btn">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="locationModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">এলিফ্যান্ট রোড অফিস</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <iframe width="100%" height="550" src="https://www.youtube.com/embed/w-PwxgWDoV8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="modal-footer mdl-btn">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>

</div>
{% endblock %}





{% block js %}
<script>
    $('select').attr('required', 1);

    window.onload = async () => {

        const res = await fetch("{% url 'get_districts' %}")
        const data = await res.json()
        const districts = data.data
        // console.log(districts)

        // const newAr = []
        // for(let item of districts){
        //     const newData ={}
        //     newData['id'] = item.id; 
        //     newData['name'] = item.name;
        //     newData['name_bn'] = item.bn_name;
        //     newAr.push(newData)
        // }
        // console.log(JSON.stringify(newAr))
        let options = '<option value="">Select District</option>'

        for (let item of districts) {
            options += `<option value="${item.cityBangla}" districtid="${item.cityId}">${item.cityBangla}</option>`
        }
        // console.log(options)
        districtContainer = document.getElementById('id_district')
        districtContainer.innerHTML = options;


    }

    const districtInput = document.getElementById('id_district')
    districtInput.addEventListener("change", async (e) => {


        const districtId = parseInt(e.target.selectedOptions[0].attributes.districtid.value)
        if (districtId != "") {

        }
        let url = "{% url 'get_area' %}"
        url = `${url}?district_id=${districtId}`
        const res = await fetch(url)
        const data = await res.json()
        const upzilla = data.data


        let options = '<option value="">Select area</option>'

        for (let item of upzilla) {
            options += `<option value="${item.areaBangla}" areaid="${item.areaId}">${item.areaBangla}</option>`
        }
        // console.log(options)
        areaContainer = document.getElementById('id_area')
        areaContainer.innerHTML = options;


    })





    /// this function loads saved address 
    document.querySelector("#load_default").addEventListener('click', function () {
        $.ajax({
            url: "{% url 'addressbook' %}",
            type: 'GET',
            data: {
                'action': 'updateaddress',
            },

            success: function (status) {
                const district = document.getElementById('id_district');
                const area = document.getElementById('id_area');
                const address = document.getElementById('id_address');
                const contact = document.getElementById('id_contact_no');

                district.value = status.district;


                /// value input does not work for area
                options = `<option value="${status.area}" areaid="${status.area}">${status.area}</option>`;
                area.innerHTML = options;

                address.value = status.address;
                contact.value = status.contact;

            },
            failure: function (e) {
                console.log(e)
            }
        });

    })

    document.querySelector("#reset_default").addEventListener('click', function () {
        document.getElementById("address_form").reset();
        const area = document.getElementById('id_area');
        area.innerHTML = "";
    })




    /// Delivery address handler
    document.querySelectorAll('.delivery-methods').forEach(function (button) {
        button.addEventListener('change', function () {
            openLoader();
            const buttonLabel = document.querySelector(`label[for="${button.id}"]`);
            const userTotal = document.querySelector('.user_total_span');
            const subTotal = document.querySelector('.sub_total_span');
            const shippingSpan = document.querySelector('.shipping_span');
            const formLabel = document.querySelector('label[for="id_address"]');
            const district = document.getElementById('id_district');
            const area = document.getElementById('id_area');
            const address = document.getElementById('id_address');
            const addressLoader = document.querySelector('.address_loader')
            const totalAmount = document.querySelector("input[name='total_amount']")
            const shippingMethod = document.querySelector("input[name='shipping_method']")
            const officeInfo = document.querySelector('.office-info')
            officeInfo.style.display = 'none';
            district.value = "";
            area.innerHTML = "";
            address.value = ""
            addressLoader.style.display = "flex";

            const freeOrexh = document.querySelector('.free-exh')

            if (freeOrexh != null) {
            freeOrexh.style.display = 'block'

        }

        


            if (button.value == "sundarban") {
                $.ajax({
                    url: "{% url 'checkout' %}",
                    type: 'GET',
                    data: {
                        'action': 'sundarban',
                    },

                    success: function (status) {
                        userTotal.innerHTML = status.value;
                        subTotal.innerHTML = `Tk. ${status.value}`;
                        totalAmount.value = status.value
                        shippingSpan.innerHTML = `Tk. ${status.total_delivery}`;
                        formLabel.innerHTML = "নিকটস্থ সুন্দরবন কুরিয়ার ঠিকানা*";
                        shippingMethod.value = buttonLabel.innerHTML;
                        if (freeOrexh != null) {freeOrexh.style.display = 'none'};
                        closeLoader();


                    },
                    failure: function (e) {
                        console.log(e)
                    }
                });
            }

            if (button.value == "home-delivery") {
                $.ajax({
                    url: "{% url 'checkout' %}",
                    type: 'GET',
                    data: {
                        'action': 'home_delivery',
                    },

                    success: function (status) {


                        userTotal.innerHTML = status.value;
                        totalAmount.value = status.value
                        subTotal.innerHTML = `Tk. ${status.value}`;
                        shippingSpan.innerHTML = `Tk. ${status.total_delivery}`;
                        formLabel.innerHTML = "বাসার ঠিকানা (বিস্তারিত)*";
                        shippingMethod.value = buttonLabel.innerHTML;
                        closeLoader();


                    },
                    failure: function (e) {
                        console.log(e)
                    }
                });

            }

            if (button.value == "home-outside") {
                $.ajax({
                    url: "{% url 'checkout' %}",
                    type: 'GET',
                    data: {
                        'action': 'home_outside',
                    },

                    success: function (status) {
                        userTotal.innerHTML = status.value;
                        totalAmount.value = status.value
                        subTotal.innerHTML = `Tk. ${status.value}`;
                        shippingSpan.innerHTML = `Tk. ${status.total_delivery}`;
                        formLabel.innerHTML = "বাসার ঠিকানা (বিস্তারিত)*";
                        shippingMethod.value = buttonLabel.innerHTML;
                        closeLoader();
                    },
                    failure: function (e) {
                        console.log(e)
                    }
                });

            }

            if (button.value == "1-3h") {
                $.ajax({
                    url: "{% url 'checkout' %}",
                    type: 'GET',
                    data: {
                        'action': '1_3h',
                    },

                    success: function (status) {
                        userTotal.innerHTML = status.value;
                        totalAmount.value = status.value
                        subTotal.innerHTML = `Tk. ${status.value}`;
                        shippingSpan.innerHTML = `Tk. ${status.total_delivery}`;
                        formLabel.innerHTML = "বাসার ঠিকানা (বিস্তারিত)*";
                        shippingMethod.value = buttonLabel.innerHTML;
                        closeLoader();
                    },
                    failure: function (e) {
                        console.log(e)
                    }
                });

            }

            if (button.value == "12h") {
                $.ajax({
                    url: "{% url 'checkout' %}",
                    type: 'GET',
                    data: {
                        'action': '12h',
                    },

                    success: function (status) {
                        userTotal.innerHTML = status.value;
                        totalAmount.value = status.value
                        subTotal.innerHTML = `Tk. ${status.value}`;
                        shippingSpan.innerHTML = `Tk. ${status.total_delivery}`;
                        formLabel.innerHTML = "বাসার ঠিকানা (বিস্তারিত)*";
                        shippingMethod.value = buttonLabel.innerHTML;
                        closeLoader();
                    },
                    failure: function (e) {
                        console.log(e)
                    }
                });

            }

            if (button.value == "office-radio") {
                $.ajax({
                    url: "{% url 'checkout' %}",
                    type: 'GET',
                    data: {
                        'action': 'office',
                    },

                    success: function (status) {
                    addressLoader.style.display = "none";
                    officeInfo.style.display = "block"
                    shippingSpan.innerHTML = `Tk. 0`;
                    subTotal.innerHTML = `Tk. ${status.value}`;
                    userTotal.innerHTML = status.value;
                    if (freeOrexh != null) {freeOrexh.style.display = 'none'};
                    closeLoader()
                      

                    },
                    failure: function (e) {
                        console.log(e)
                    }
                });

                


            }



            if (button.value == "office-farm") {
                $.ajax({
                    url: "{% url 'checkout' %}",
                    type: 'GET',
                    data: {
                        'action': 'office',
                    },

                    success: function (status) {
                        userTotal.innerHTML = status.value;
                        totalAmount.value = status.value
                        subTotal.innerHTML = `Tk. ${status.value}`;
                        shippingSpan.innerHTML = `Tk. ${status.total_delivery}`;
                        formLabel.innerHTML = "অফিসের ঠিকানা (Don't Change) *";
                        district.value = "ঢাকা"
                        options = `<option value="ফার্মগেট" areaid="ফার্মগেট">ফার্মগেট</option>`;
                        area.innerHTML = options;
                        address.value = "আনন্দ সিনেমা হলের অপজিটে,101/A Green Road Dhaka,Aspect Series Office"
                        addressLoader.style.display = "none"
                        shippingMethod.value = buttonLabel.innerHTML.slice(0, -130);
                        if (freeOrexh != null) {freeOrexh.style.display = 'none'};
                        officeInfo.style.display = 'block';
                        closeLoader();

                    },
                    failure: function (e) {
                        console.log(e)
                    }
                });

            }

            if (button.value == "office-el") {
                $.ajax({
                    url: "{% url 'checkout' %}",
                    type: 'GET',
                    data: {
                        'action': 'office',
                    },

                    success: function (status) {
                        userTotal.innerHTML = status.value;
                        totalAmount.value = status.value
                        subTotal.innerHTML = `Tk. ${status.value}`;
                        shippingSpan.innerHTML = `Tk. ${status.total_delivery}`;
                        addressLoader.style.display = "none"
                        formLabel.innerHTML = "অফিসের ঠিকানা (Don't Change) *";
                        district.value = "ঢাকা"
                        options = `<option value="এলিফ্যান্ট রোড" areaid="এলিফ্যান্ট রোড">এলিফ্যান্ট রোড</option>`;
                        area.innerHTML = options;
                        address.value = "ইস্টার্ন মল্লিকার বিপরীতে, স্যানস্‌ ক্যাপের পাশের অফিস"
                        shippingMethod.value = buttonLabel.innerHTML.slice(0, -131);
                        officeInfo.style.display = 'block';
                        if (freeOrexh != null) {freeOrexh.style.display = 'none'};
                        closeLoader();
                    },
                    failure: function (e) {
                        console.log(e)
                    }
                });

            }
        })

    })




</script>





{% endblock js %}