{% extends "bookstore/base.html" %}
{%load static%}
{% load crispy_forms_tags %}
{% load cart_sub_total %}


{% if title %}
{%block title%}
{{title}}
{%endblock title%}
{% endif %}

{%block style%}

<style>
  .form-group {
    font-size: 1.8rem;
    margin-bottom: 10px;

  }

  .exchange-box {
    padding: 0.5em;
    margin: 1em;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background-color: white;
  }

  .buttonHolder {
    text-align: center;
  }

  .exchange textarea {
    height: 5rem;
    font-size: 1.5rem;
  }

  .exchange input {
    font-size: 1.5rem;
  }

  body {
    background-color: #f0f4fa !important;
  }

  .rules {
    text-align: left;
    font-size: 1.5rem;
  }

  .mdl-btn {
    display: flex;
    justify-content: center;
  }

  .btn-close {
    font-size: large;
  }

  .order-info-box {
    font-size: 1.5rem;
  }

  .order-info-box span {
    background-color: yellow;
    font-weight: bold;

  }

  .exh-header {
    text-align: center;
  }

  .exchange-table {
    padding: 0em;
  }

  
</style>
{%endblock style%}


{% block content %}

<div class="container">
  <br>
  <a href="{% url 'profile' %}" class="btn btn-outline-secondary bg-dark btn-sm text-light">Back To Profile</a>
  <div class="row justify-content-center m-auto">
    <div class="col-md-8">

      <div class="row exchange-box">
        <div class="col-md-6 exchange">
          <h3 class="text-center page-title">Submit Exchange Request Below</h3>
          <hr>
          <form action="{% url 'exchange' %}" method="post">
            {{exchange_form|crispy}}
            {% csrf_token %}
            <div class="buttonHolder">
              <button type="submit" class="btn btn-primary">Submit Request</button>
            </div>
          </form>
        </div>
      </div>

      <div class="row exchange-box">
        <h3 class="text-center page-title">এক্সচেঞ্জ নীতিমালা</h3>
        <article class="rules">
          <p>
            {{web_settings.exchange_rules|safe}}
          </p>
        </article>

      </div>

      <div class="row exchange-box order-info-box">
        <div class="exh-header"><span>Exchange Orders</span></div>
        <table class="table table-striped exchange-table">
          <thead>
            <tr>
              <th scope="col">Time</th>
              <th scope="col">Name</th>
              <th scope="col">Division</th>
              <th scope="col">Books</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for order in exchange_orders %}
            <tr>
             
              <td>{{order.created_at|date:'M d, gA'}}</td>
              <td>{{order.customer}}</td>
              <td>{{order.address.district}}</td>
              <td>{% ordered_books order %}</td>
              {% if order.status == "Paid" %}
              <td>Done</td>
              {% else %}
              <td>{{order.status}}</td>
              {% endif %}
            </tr>
            {% endfor %}
          
          </tbody>
        </table>
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">

              {% if exchange_orders.has_previous %}
              <li class="page-item enabled">
                  <a class="page-link" href="?page={{exchange_orders.previous_page_number}}" tabindex="-1">Previous</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">Previous</a>
              </li>
              {% endif %}


              {% if exchange_orders.number|add:'-4' > 1 %}
              <li class="page-item"><a class="page-link" href="?page={{ exchange_orders.number|add:'-5' }}">&hellip;</a></li>
              {% endif %}

              {% for i in exchange_orders.paginator.page_range %}
                {% if exchange_orders.number == i %}
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" >{{i}}</a>
                  </li>  
                {% elif i > exchange_orders.number|add:'-5' and i < exchange_orders.number|add:'5' %}
                  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}

              {% if exchange_orders.paginator.num_pages > exchange_orders.number|add:'4' %}
              <li class="page-item"><a class="page-link" href="?page={{ exchange_orders.number|add:'5' }}">&hellip;</a></li>
              {% endif %}

              {% if exchange_orders.has_next %}
              <li class="page-item enabled">
                  <a class="page-link" href="?page={{exchange_orders.next_page_number}}" tabindex="-1">Next</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                  <a class="page-link" tabindex="-1">Next</a>
              </li>
              {% endif %}

          </ul>
      </nav>
      </div>


      <!-- Modal -->
      <div class="modal fade ExchangeModal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered  modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">এক্সচেঞ্জ নীতিমালা</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div style="font-size: large;">
                {{web_settings.exchange_rules|safe}} 

              </div>
            
               
  
            </div>
            <div class="modal-footer mdl-btn">
              <button type="button" data-bs-dismiss="modal" class="btn btn-primary">বুঝতে পেরেছি</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->



    </div>
  </div>
</div>
{% endblock %}





{% block js %}
<script>
    $(window).on('load', function () {
      let modalShown = getCookie('exchangeModalShown')
      if (modalShown == null | modalShown == undefined) {
        $('.ExchangeModal').modal('show');
      }
      const expires = (new Date(Date.now()+ 86400*1000)).toUTCString();
      document.cookie = "exchangeModalShown=True; expires=" + expires + ";path=/;"

      scrollTo()
      clickCheck()

  });



  

  function clickCheck() {
    document.querySelectorAll('.page-link').forEach(function (link) {
      link.addEventListener('click', function() {
        let pageClick = getCookie('pageClick')
        if (pageClick == null | pageClick == undefined) {
          const expires = (new Date(Date.now()+ 86400*1000)).toUTCString();
          document.cookie = "pageClick=True; expires=" + expires + ";path=/;"
        };
      })
    })
  }


function scrollTo() {
  let pageClick = getCookie('pageClick')
  if (pageClick != null | pageClick != undefined) {
    document.querySelector('.order-info-box').scrollIntoView();
    const expires = "Thu, 18 Dec 2021 12:00:00 UTC";
    document.cookie = "pageClick=True; expires=" + expires + ";path=/;"
  }; 
}






   

  


  

 

</script>



{% endblock js %}
