{% extends "bookstore/base.html" %}
{%load static%}


{% if title %}
{%block title%}
{{title}}
{%endblock title%}
{% endif %}


{%block style%}
<style>
    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        right: 0;
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        left: 0;
    }

    section.home {
        padding-bottom: 0;
    }

    #rendered {
        position: relative;
    }


    .center-header {
        text-align: center;
        margin-bottom: 0.5em;
        position: absolute;
        left: 0;
        right: 0;
        margin-bottom: 0.5em;
       

    

    }
</style>
{%endblock style%}


{%block content %}

{% include 'bookstore/partials/loginPopup.html' %}

<div id="rendered">

    {% if all_category %}


    {% for cat in all_category %}
    {% if cat.name == 'EAP' %}
    <h1 class="center-header">Engineering Admission Preparation</h1>
    {% elif cat.name == 'VAP' %}
    <h1 class="center-header">Varisty Admission Preparation</h1>
    {% elif cat.name == 'MAP' %}
    <h1 class="center-header">Medical Admission Preparation</h1>
    {% endif %}

    {% for sub_cat in cat.sub_category_set.all %}
    <section class="home" id="home">


        <h1 class="heading d-flex bg-white p-3 mx-3 justify-content-between">
            <span>{{sub_cat.name}}</span>
            <a class="btn btn-primary border-0 py-2 px-4 rounded-0" href="{% url 'all_books' sub_cat.slug %}">সবগুলো</a>
        </h1>

        <div class="row">

            <div class="swiper books-slider slider-large">
                <div class="swiper-wrapper">




                    {% for book in sub_cat.books_set.all|dictsort:"serial_number" %}
                    <a href="{% url 'single_book' id=book.id book_slug=book.slug %}"
                        class="swiper-slide swiper-slide-active single-book" role="group" aria-label="1 / 6" style="">
                        <div class="card mx-auto book-details" style="width: 18rem;">
                            <img src="{% static 'image/loading.gif'%}" data-src={{book.cover_photo.url}}
                                alt="{{book.title}}" class="card-img-top lazyload" />
                        </div>
                        <div class="card mx-auto book-footer" style="width: 18rem;">
                            <div class="book-body">

                                <div class="book-title"><strong>{{book.title|truncatechars:30}}</strong></div>
                                <h4 class="book-price" style="text-decoration: none;">Tk. {{book.price}}</h4>
                            </div>

                        </div>


                    </a>

                    {%endfor %}





                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <img src="{% static '' %}image/stand.png" class="stand" alt="">
            </div>

        </div>



    </section>

    {%endfor%}
    {%endfor%}



    {% else %}

    {% if single_category.name == 'EAP' %}
    <h1 class="center-header">Engineering Admission Preparation</h1>
    {% elif single_category.name == 'VAP' %}
    <h1 class="center-header">Varisty Admission Preparation</h1>
    {% elif single_category.name == 'MAP' %}
    <h1 class="center-header">Medical Admission Preparation</h1>
    {% endif %}



    {% for sub_cat in single_category.sub_category_set.all %}
    <section class="home" id="home">



        <h1 class="heading d-flex bg-white p-3 mx-3 justify-content-between">
            <span>{{sub_cat.name}}</span>
            <a class="btn btn-primary border-0 py-2 px-4 rounded-0" href="{% url 'all_books' sub_cat.slug %}">সবগুলো</a>
        </h1>

        <div class="row">

            <div class="swiper books-slider slider-large">
                <div class="swiper-wrapper">




                    {% for book in sub_cat.books_set.all|dictsort:"serial_number" %}
                    <a href="{% url 'single_book' id=book.id book_slug=book.slug %}"
                        class="swiper-slide swiper-slide-active single-book" role="group" aria-label="1 / 6" style="">
                        <div class="card mx-auto book-details" style="width: 18rem;">
                            <img src="{% static 'image/loading.gif'%}" data-src={{book.cover_photo.url}}
                                alt="{{book.title}}" class="card-img-top lazyload" />
                        </div>
                        <div class="card mx-auto book-footer" style="width: 18rem;">
                            <div class="book-body">

                                <div class="book-title"><strong>{{book.title}}</strong></div>
                                <h4 class="book-price" style="text-decoration: none;">Tk. {{book.price}}</h4>
                            </div>

                        </div>


                    </a>

                    {%endfor %}





                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <img src="{% static '' %}image/stand.png" class="stand" alt="">
            </div>

        </div>



    </section>

    {%endfor%}

    {%endif%}

</div>





<!-- loader -->

{% include 'bookstore/partials/loader.html' %}


{%endblock content %}



{% block js %}

{% endblock %}