{% extends "bookstore/base.html" %}
{%load static%}

{% load crispy_forms_tags %}

{%block title%}
AAPLibrary - {{book.title}}
{%endblock title%}

{% block style %}
<style>
    .fa {
        color: gold;
    }

    .review_image {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    #myTab {
        font-size: large;
    }

    .tab-content {
        display: flex;
        justify-content: flex-end;
    }

    .review_info h5 {
        font-size: large;
    }

    .review_info p {
        font-size: 1.5rem;

    }

    .qa_section .card {
        padding: 0.5em;
        margin: 0.5em;
    }




    .exist {
        font-size: large;
    }

    .row.py-3.mb-5.singlebook-container {
        border: solid 1px #dfdfdf;
        margin-top: 2rem;
        box-shadow: 0px 0px 10px 3px #e9e4e4;
        border-radius: 10px;
    }

    .mrp {
        font-size: 15px;
        text-decoration: line-through;
    }

    .single-book-title {
        font-size: 3rem;
    }

    .author,
    .publisher,
    .category-info {
        font-size: 1.4rem;
        margin-bottom: .5rem;
    }

    form label,
    form input {

        font-size: 1.5rem;
    }

    .preview-btn {
        background: #2a5183;
        color: #fff;
        padding: .75rem 1.2rem;
        border-radius: 0 0px 30px 0;
        top: 75%;
    }

    .qna p {
        font-size: large;

    }

    .qna {
        padding: 1em;
    }


    .question {
        font-weight: bold;
    }

    .answer {
        margin-left: 1.5em;
    }

    .exchangeable {
        font-size: 1rem;
        margin-bottom: 0.5em;
    }
</style>
{% endblock style %}


{% block content %}

<div class="single-book-container container">
    <div class="row py-3 mb-5 singlebook-container">
        <div class="col-md-4 d-flex justify-content-center align-items-center">
            <div class="book-cover-photo position-relative">
              
                {% if book.bookpreviewimages_set.all %}
                <img type="button" src="{{book.cover_photo.url}}" class="img-fluid img-thumbnail w-100 h-100 p-1" alt="" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                
                <span type="button" class="position-absolute preview-btn start-0 fs-3 mt-0 px-5" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    পড়ে দেখুন
                </span>

                {%else %}
                <img  src="{{book.cover_photo.url}}" class="img-fluid img-thumbnail w-100 h-100 p-1" alt="">
                {%endif%}

            </div>
        </div>
        <div class="col-md-8 p-4">
            <h2 class="single-book-title fw-bold">{{book.title}}</h2>
            <div class="book-data mt-3 mb-4">
                <p class="author"> <span class="fw-bold">Author:</span>
                    {% if book.author %}
                    <a href="{% url 'author_books' book.author.slug %}"> {{book.author}}</a>
                    {% else %}
                    {{book.author}}     
                    {% endif %}
                </p>
                <p class="publisher"><span class="fw-bold">Publisher:</span>
                    {% if book.publisher %}
                    <a href="{% url 'publisher_books' book.publisher.slug %}"> {{book.publisher}}</a>
                    {% else %}
                    {{book.publisher}}
                    {% endif %}
                </p>
                <div class="category-info" style="font-size:16px;">
                    <span class="fw-bold">Categories:</span>
                    {% for cat in book.category.all %}
                    <span class="badge bg-info" ><a style="color: white;" href="{% url 'all_books' cat.id %}">{{cat.name}}</a></span>
                    {% endfor %}
                </div>

            </div>
            <div class="price-box mrp mb-0">
                <span>Tk.{{book.mrp_price}}</span>
            </div>
            <div class="price-box m-0">
                <span>Tk. {{book.price}}</span>
            </div>
            <div class="stock-notification">
                {% if book.in_stock %}
                <h5 class="text-success"><i class="fas fa-check-circle"></i> Book in Stock</h5>
                {%else %}
                <h5 class="text-danger"><i class="fas fa-times-circle"></i> Out Of Stock</h5>
                {%endif%}
            </div>


            <div class="add_to_cart">
                <a href="{% url 'buy_now' %}?id={{book.id}}">
                    <button class="btn btn-main" {% if not book.in_stock %} disabled {%endif%}>Buy Now</button>
                </a>
                <button class="btn btn-main" {% if request.user.is_authenticated %} onclick="addtoCart('{{book.id}}')"
                    {% else %} onclick="navigateToLogin()" {% endif %} {% if not book.in_stock %} disabled {%endif%}>Add
                    to Cart</button>
            </div>

            <br>
            <div class="exist">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger" role="alert">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>


        </div>
    </div>

    <div class="row py-3 mb-5 singlebook-container">
        <div class="col-md-12">
            <!-- <h1 class="text-center">Book Details</h1> -->
            <div class="pt-0 pb-5 px-2">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active description-btn" id="pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                            aria-selected="true">Description</button>
                    </li>

                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab">
                        {{book.description|safe}}</div>

                </div>
            </div>
        </div>
    </div>

    <!-- modal for book preview images -->
    <!-- Button trigger modal -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">

                <div class="modal-header">
                    {% if book.pdf %}
                    <a href="{{book.pdf.url}}" target="_blank"
                        class="modal-title btn btn-primary border-0 py-2 px-3 rounded-0">Download PDF</a>
                    {%endif %}
                    <button type="button" class="btn-close fs-3 me-2" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body" style="border: solid 8px grey;padding: 0;">


                    {% for x in book.bookpreviewimages_set.all %}

                    <img src="{% static 'image/preview-loading.gif'%}" data-src="{{x.get_image}}" alt=""
                        class="img-fluid w-100 lazyload" />
                    <hr>
                    {%endfor%}






                </div>

            </div>
        </div>
    </div>


    <!-- modal for book preview images -->

    <div class="container my-5 row">
        <section class="arrivals" id="arrivals">

            <h1 class="heading"> <span>Similar Books</span> </h1>

            <div class="swiper arrivals-slider">

                <div class="swiper-wrapper">

                    {% for cat in book.category.all %}

                    {% for book in cat.books_set.all %}

                    <a href="{% url 'single_book' id=book.id book_slug=book.slug %}" class="swiper-slide box">
                        <div class="image">
                            <img src="{{book.cover_photo.url}}" alt="">
                        </div>
                        <div class="content">
                            <h3>{{book.title}}</h3>
                            <div class="price">Tk. {{book.price}}</div>

                        </div>
                    </a>
                    {%endfor %}
                    {% endfor %}
                </div>

            </div>
        </section>

        <!-- Review section -->
        <section>
            <div class="review_section">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home"
                            aria-selected="true">Ratings and Reviews</a>
                    </li>
                </ul>
                <hr>
                <div class="tab-content" id="myTabContent">
                    {% if request.user.is_authenticated %}
                    {% for order in orders %}
                    {% for b in order.orderedproducts_set.all %}

                    {% if b.id == book.id %}
                    {% if order.status == "Completed" %}
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        Write A review
                    </button>
                    {% else %}
                    <button type="button" class="btn btn-primary" disabled data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        Write A review
                    </button>
                    {%endif%}
                    {% endif %}
                    {%endfor %}
                    {% endfor %}
                </div>
                <hr>
            </div>

            <!-- modal for review submit -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'write_review' book.id %}" method="post" id="review">
                                {% csrf_token %}
                                {{review_form|crispy}}
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" form="review">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- modal for review submit -->


            {% endif %}
            <div class="swiper review-slider">

                <div class="swiper-wrapper">
                    {% for review in book.reviews.all %}

                    <div class="card mb-3 swiper-slide box" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4 review_image">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin"
                                    class="rounded-circle" width="60">
                            </div>
                            <div class="col-md-8 review_info">
                                <div class="card-body px-4 py-2">
                                    <h5 class="card-title">{{review.user.name}}</h5>
                                    <p>{{review.ratings}} <i class="fa fa-star" aria-hidden="true"></i></p>
                                    <hr>
                                    <p class="card-text">{{review.comment}}</p>
                                    <p class="card-text"><small class="text-muted">{{review.reviewed_at}}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}


                </div>

            </div>


        </section>

        <!-- Review section end-->


        <!-- Q & A section -->

        <section class="qa_section card m-0 p-0">
            <ul class="nav nav-tabs justify-content-between" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home"
                        aria-selected="true">Q & A</a>
                </li>
                <li class="nav-item">
                    {% if request.user.is_authenticated %}
                    <button type="button" class="btn btn-primary btn-sm mt-0" data-bs-toggle="modal"
                        data-bs-target="#qa_modal">
                        Ask A Question
                    </button>
                    {% endif %}
                </li>
            </ul>
            <div class="tab-content">

            </div>


            <!-- modal for question submit -->
            <div class="modal fade" id="qa_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="qa_modal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="question-modal" action="{% url 'write_question' book.id %}" method="post"
                                id="qa">
                                {% csrf_token %}
                                {{qa_form|crispy}}

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" form="qa">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- modal for question submit -->


            <br>

            {% for qa in book.questions.all %}
            <div class="qna">
                <p>
                    Date : {{qa.date}}
                </p>
                <p class="question">
                    {{qa.user}} : {{qa.question}}
                </p>
                {% if qa.answer %}
                <p class="answer">
                    AALibrary : {{qa.answer}}
                </p>
                {% else %}
                <p class="answer">This Question Hasn't Been Answered Yet</p>
                {% endif %}
            </div>
            <hr>
            {% endfor %}


        </section>

        <!-- Q & A section end -->


    </div>
</div>

</div>

{% endblock %}



{% block js %}

<!-- codes for add to cart functionality -->

<script>
    const navigateToLogin = () => {
        const fromUrl = window.location.pathname
        window.location = `{% url 'login' %}?next=${fromUrl}`;
    }
    const addtoCart = (bookId) => {
        $.ajax({
            type: "GET",
            url: "{% url 'add_to_cart' %}",
            data: {
                'bookid': bookId,
                'action': 'add_to_cart',

            },

            success: function (response) {
                const {status, count, message} = response
                if (status == "success") {
                    spanItem = document.querySelector('.total-items').innerHTML = count
                }
                if (status == "exists") {
                    document.querySelector(".exist").innerHTML = `<div class="alert alert-danger d-flex align-items-center" role="alert">${message}</div>`
                }
                if (status == "edit_required") {
                    document.querySelector(".exist").innerHTML = `<div class="alert alert-danger d-flex align-items-center" role="alert">${message}</div>`
                }
                if (status == "low_credit") {
                    document.querySelector(".exist").innerHTML = `<div class="alert alert-danger d-flex align-items-center" role="alert">${message}</div>`
                }


            },
            failure: function (e) {
                console.log(e)
            }
        });


    }

</script>


<!-- codes for add to cart functionality -->

{% endblock js %}